@{
    ViewBag.Title = "ShowGo";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Studies have confirmed, that avid concert-goers are generally happier people.</p>
  
    <p>Don't want to miss out on another event? Lets go find the show!</p>
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> Go to your next show!&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Still need tickets?</h2>
        <p>
            Create or sign into your Ticketmaster account below.
        </p>
        <p><a class="btn btn-default" href="https://www.ticketmaster.com/?gclid=CjwKCAiAqt7jBRAcEiwAof2uK7YCSjOAVMZ-X-HSy2mvhwHVqZMnNovGnGXUSIomfw2N5cmHLwemNBoC0mcQAvD_BwE"> Order Tickets! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Want to hear more from your favorite artists?</h2>
        <p>Create or sign into your iTunes account to access your favorite artists.</p>

        <p><a class="btn btn-default" href="https://www.apple.com/itunes/?cid=OAS-US-DOMAINS-itunes.com">Listen here! &raquo;</a></p>
    </div>
</div>