@model ShowGo.Models.Concertgoer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Concertgoer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConcertgoerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
